.tab-list {  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}
.box {
	height:300px;
	width:600px;
	border: none;
	font:16px/26px Georgia, Garamond, Serif;
	overflow:auto;
    margin-left: auto; 
    margin-right: auto;
	
}
table { 
/*	font-family:Arial; */
	width: 600px; 
	border-collapse: collapse; 
	margin:10px auto;
	}

th { 
	background: #f1f1f1; 
/*	color: white; */
	color: gray;

	font-weight: bold; 
	}

td, th { 
	padding: 4px; 
	border: 1px solid #ccc; 
	text-align: left;
	font:Georgia, Garamond, Serif;
	font-size: 16px;
}

.labels tr td {
	background-color: #2cc16a;
	font-weight: bold;
	color: #fff;
}

.label tr td label {
	display: block;
}
